.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video {
  width: 480px;
  height: 360px;
  background-color: #333;
}

.control {
  margin-top: 20px;
}

.btn {
  padding: 10px;
  font-size: 1.4rem;
  margin: 0 8px;
  background-color: white;
  transition: all 0.4s;
  border-radius: 10px;
}

.btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}